th[scope="col"] {
    background-color: #fff;
    color: #696969;
}
th[scope="row"] {
    background-color: #fff;
    color: #yellow;
}
td {
	padding: 100% 100%;
}
body {
  animation: colorchange 40s linear infinite; /* animation-name followed by duration in seconds*/
  -webkit-animation: colorchange 40s linear infinite; /* Chrome and Safari */
  -moz-animation: colorchange 40s linear infinite;
  -o-animation: colorchange 40s linear infinite;
}

.titel {
	font-size: 30px;
}
.naaminput {
	width: 100%;
}
.naaminput:focus {
	width: 70%;
	font-size: 40px;
	font-style: oblique;
	color: #FFF;
	text-align: center;
	margin: auto;
	box-shadow:1px 1px 1px 2px rgba(0,0,0,0.4);
}
input {
	border-radius: 10px;
}

@keyframes colorchange
{
  0%,100% {background: #1abc9c }
  5% {background: #2ecc71 }
  10% {background: #3498db }
  15% {background: #9b59b6 }
  20% {background: #34495e }
  25% {background: #16a085 }
  30% {background: #27ae60 }
  35% {background: #2980b9 }
  40% {background: #8e44ad }
  45% {background: #2c3e50 }
  50% {background: #f1c40f }
  55% {background: #e67e22 }
  60% {background: #e74c3c }
  65% {background: #ecf0f1 }
  70% {background: #95a5a6 }
  75% {background: #f39c12 }
  80% {background: #d35400 }
  85% {background: #c0392b }
  90% {background: #bdc3c7 }
  95% {background: #7f8c8d }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%,100% {background: #1abc9c }
  5% {background: #2ecc71 }
  10% {background: #3498db }
  15% {background: #9b59b6 }
  20% {background: #34495e }
  25% {background: #16a085 }
  30% {background: #27ae60 }
  35% {background: #2980b9 }
  40% {background: #8e44ad }
  45% {background: #2c3e50 }
  50% {background: #f1c40f }
  55% {background: #e67e22 }
  60% {background: #e74c3c }
  65% {background: #ecf0f1 }
  70% {background: #95a5a6 }
  75% {background: #f39c12 }
  80% {background: #d35400 }
  85% {background: #c0392b }
  90% {background: #bdc3c7 }
  95% {background: #7f8c8d }
}

@-moz-keyframes colorchange /* Firefox */
{
  0%,100% {background: #1abc9c }
  5% {background: #2ecc71 }
  10% {background: #3498db }
  15% {background: #9b59b6 }
  20% {background: #34495e }
  25% {background: #16a085 }
  30% {background: #27ae60 }
  35% {background: #2980b9 }
  40% {background: #8e44ad }
  45% {background: #2c3e50 }
  50% {background: #f1c40f }
  55% {background: #e67e22 }
  60% {background: #e74c3c }
  65% {background: #ecf0f1 }
  70% {background: #95a5a6 }
  75% {background: #f39c12 }
  80% {background: #d35400 }
  85% {background: #c0392b }
  90% {background: #bdc3c7 }
  95% {background: #7f8c8d }
}

@-o-keyframes colorchange /* Opera */
{
  0%,100% {background: #1abc9c }
  5%  {background: #2ecc71 }
  10% {background: #3498db }
  15% {background: #9b59b6 }
  20% {background: #34495e }
  25% {background: #16a085 }
  30% {background: #27ae60 }
  35% {background: #2980b9 }
  40% {background: #8e44ad }
  45% {background: #2c3e50 }
  50% {background: #f1c40f }
  55% {background: #e67e22 }
  60% {background: #e74c3c }
  65% {background: #ecf0f1 }
  70% {background: #95a5a6 }
  75% {background: #f39c12 }
  80% {background: #d35400 }
  85% {background: #c0392b }
  90% {background: #bdc3c7 }
  95% {background: #7f8c8d }
}